@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html,
body {
    font-family: var(--fonte1);
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header>p {
    padding-bottom: 50px;

}

header a,
footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}


section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section>p {
    padding-bottom: 2em;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem {
    box-shadow: inset 4px 6px 13px 0px black;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

section.imagem>p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.164);
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 1.6vw;
    padding: 15px;
}