/* Criar um menu horizontal com itens centralizados vertical e horizontalmente.  */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: lightcyan;
    height: 70px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.atalhos {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 12px;
}

.atalhos>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
}

.atalhos>li>a:hover {
    color: white;
    background-color: rgb(41, 110, 112);
    border-radius: 5px;
}