@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: gray;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    align-content: center;
}

.item {
    height: 200px;
    background-color: tomato;
    padding: 10px;
    flex: 1 1 200px;

}