@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(179, 172, 172);
    height: 100vw;
    width: 100vw;
}

header {
    background-color: rgb(101, 100, 100);
    color: rgb(238, 238, 238);
    padding: 10px;
}

header>h1 {
    border: 1px dotted black;
}

header>nav {
    border: 1px dotted black;
}

main {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.341);
}