@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: violet;
}

.menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    max-width: 1200px;
    margin: 0 auto;
}

.menu-item {
    list-style: none;
}

.menu-item>a {
    text-decoration: none;
    color: aliceblue;
}

.menu-item>a:hover {
    color: rgb(93, 1, 173);
}