@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    min-height: 500px;
    width: 100%;

    border: 1px solid black;

    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: rgba(216, 29, 66, 0.527);
    min-width: 200px;
    min-height: 200px;
}

#item-selecionado {
    background-color: aqua;
    align-self: center;
}