@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;

    border: 1px solid coral;
}