* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 80px;



    justify-content: center;
    border: 1px solid black;
}

.item {
    border: 1px solid black;
}