* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background-color: lightgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;

    justify-content: center;
    align-items: center;
    text-align: center;

}

.item {
    margin: 30px;
    padding: 10px;
    background-color: red;
    height: 300px;

}