<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout 1</title>
</head>

<!-- Navbar

**Objetivo:** Criar uma barra de navegação profissional.

- Logo à esquerda (fixa)
- Menu central flexível (cresce com `flex: auto`)
- Botões à direita (fixos com `flex: 0 0 auto`)

**Pontos de atenção:**

- Distribuição de espaço
- Alinhamento vertical perfeito -->

<body>
    <nav class="navbar">

        <img class="logo" src="https://i.pinimg.com/736x/fa/01/8a/fa018ad9db226544b0bdaf9a74507da9.jpg" alt="">

        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contato</a></li>
        </ul>

        <div class="actions">
            <button>Login</button>
            <button>Sign Up</button>
        </div>
    </nav>
</body>

</html>