* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
    min-height: 100vh;

    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: salmon;
    flex: 1 1 226px;
    margin: 10px;
    min-height: 200px;
}