@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


.container {
    min-height: 100vh;
    width: 100%;
    background-color: lightcyan;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.item {
    width: 18rem;
    height: 22rem;
    background-color: rgb(143, 163, 163);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;


}