@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: grey;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item {
    background-color: tomato;
    padding: 10px;
    min-height: 100px;

    /* flex: 1 → responsivo puro, divide espaço igualmente

    flex: auto → responsivo, mas respeita o tamanho inicial do item

    flex: 0 0 auto → fixo, não muda com o container */

    flex: 1 1 300px;
}