* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.box-logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.logo-site {
    max-height: 65px;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
}


.menu-lista {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.menu-link:hover {
    color: rgba(156, 156, 156, 0.651);
}

.botoes {
    gap: 10px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.botao {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.botao:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}