@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container {
    margin: 10px;
    height: 200px;
    width: 500px;

    border: 1px solid black;
    gap: 10px;

    display: flex;
    align-items: baseline;
}

.item {
    background-color: oklab(84.018% -0.02825 0.12405);

    min-width: 20%;
    min-height: 30%;
}

#item2 {
    height: 40%;
    font-size: 32px;

}