@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(119, 122, 126);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-flow: row wrap;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    background-color: orange;


    flex: 1;
}