@charset "UTF-8";

div.container {
    background-color: coral;
    display: flex;
    flex-direction: row-reverse;
}

div.itens {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}