@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards {
    background-color: antiquewhite;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;


}

.card {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(160, 170, 170);
}