@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: oklch(70.899% 0.19591 306.721 / 0.877);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.container {
    display: flex;
    flex: 1;
    background-color: oklch(87.03% 0.08366 308.493 / 0.877);
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 20vw;
    min-width: 150px;
    max-width: 320px;
    padding: 20px;
    border-right: 1px solid black;
}

.section-aside {
    margin-bottom: 45px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}