@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: oklch(92% 0.004 286.32);
}

.navegacao {
    background-color: rgb(163, 158, 163);
    padding: 0 2rem;
}

header {
    text-align: center;
    padding-top: 20px;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

ul>li>a {

    text-decoration: none;
    color: aliceblue;
}

ul>li>a:hover {
    color: rgb(54, 54, 54);
}