@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex-container {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    /* Define Main Axis */
    justify-content: flex-start;
    /* Ajusta conforme Main Axis */
    align-items: baseline;
    /* Ajusta items conforme Cross Axis */
    align-content: flex-start;
    /* Alinha linhas conforme Cross Axis*/
    flex-wrap: wrap;
    /* Define se quebra linha ou não */
    flex-flow: row wrap;
    /* Shorthand -> direction & wrap*/
    gap: 30px;
    padding: 30px;
}

.flex-item {
    background-color: pink;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-item:last-child {
    /* height: 150px;*/
    flex-basis: 100%
}