<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout 2</title>
</head>

<body>
    <div class="page">

        <header>
            <h1>Layout Com Flexbox</h1>
        </header>

        <aside class="sidebar">
            <p><a href="#">Home</a></p>
            <p><a href="#">Sobre</a></p>
            <p><a href="#">Projetos</a></p>
            <p><a href="#">Contato</a></p>
        </aside>

        <main class="content">
            <section class="card">
                <h3>Card1</h3>
                <p>Parágrafo de teste para responsividade do card</p>
            </section>
            <section class="card">
                <h3>Card2</h3>
                <p>Parágrafo de teste para responsividade do card</p>

            </section>
            <section class="card">
                <h3>Card3</h3>
                <p>Parágrafo de teste para responsividade do card</p>
            </section>
        </main>

        <footer>
            <p>Acaba aqui</p>
        </footer>

    </div>
</body>

</html>