@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;

    background-color: oklab(39.474% 0.01032 0.00841);
}

header>h1 {
    color: aliceblue;
}


.sidebar {
    display: flex;
    background-color: brown;
    flex: 1;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    background-color: yellow;
    flex: 3;

    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.content>.card {
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    width: 100%;
    height: 200px;
}

footer {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    background-color: rgb(175, 175, 175);
    width: 100%;
}