* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    background-color: #f0e5e5cc;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 80px;



    padding: 4px 12px 4px 24px;
}

.logo {
    max-height: 55px;
    max-width: 55px;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 13px;
    max-height: 100px;
}

.botao-header {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 35px;
    padding: 8px 15px;
}

.botao-header:hover {
    background-color: rgb(73, 32, 112);
}

.lupa-nubank {
    max-height: 50px;
    max-width: 50px;
}

.lupa-nubank:hover {
    cursor: pointer;
}

.hero {
    background: black url(../images/background-woman-nubank.jpg) center / cover no-repeat fixed;

    min-height: 88vh;

    color: aliceblue;
    padding: 35px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.hero>h2 {
    text-align: center;
    font-size: 35px;
    padding: 0px 0px 5px 0px;
    max-width: 600px;
}