html {
  font-size: 15px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family:
    "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
  background-color: #00539f;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 800px;
  margin: 150px auto;
  background-color: #c7bbaa;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(255, 255, 255);
}