* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cabecalho {
  background: linear-gradient(to bottom, #6ec21a, #ffffff);
  padding: 15px;
  text-align: center;
}

#title {
  color: aliceblue;
  text-transform: uppercase;
}

#desc {
  color: rgb(13, 14, 13);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

nav {
  padding: 15px;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: left;
  gap: 25px;
}

a {
  transition: transform 0.15s ease, color 0.25s ease;
}

a.navigation {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.15s ease, color 0.25s ease;

  color: rgb(2, 92, 14);
}

a.navigation:hover {
  color: rgb(5, 245, 173);
  transform: scale(1.1);
}

.content {
  padding: 15px 28px;
}

#subtitle {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.paragrafos {
  text-align: center;
  width: auto;
  padding: 20px;
}

.subsubtitle {
  text-align: center;
  background-color: #adec6d;
}

img {
  display: block;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

a#link-android {
  color: rgb(60, 95, 4);
  text-decoration: none;
}

a#link-android:hover {
  color: #6ec21a;
  display: inline-block;
  transform: scale(1.01);
}

footer {
  text-align: center;
  background-color: darkgray;
  padding: 8px;
}
